
body {
    text-align: center;
    list-style-position: inside;
    /* background-color:#E9E8E8 ; */
}
h1{
    color: #CD5888;
}
h2 {
    color:#913175 ; 
}
p  {
    color: #20262E ;
}
h3 {color:#eac703
};